@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

a {
  color: #2BA84A !important;
  font-size: larger;
  font-style: oblique;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 10px;
}

.NavBar {
  background-color: white;
  color: #2D3A3A;
  font-weight: bold;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  height: 10vh;
}

.card {
  padding: 20px 20px;
  margin: 20px 20px;
  width: 50vw;
}

section {
  background-image: url('../src/img/jj-ying-WmnsGyaFnCQ-unsplash\ \(1\).jpg');
  padding: 20px 20px;
  margin: 20px 20px;
}

.brand-logo,
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #2D3A3A;
  font-variant: small-caps;
  font-size: 5em;
  font-weight: 700;
}

.btn {
  margin: 10px 10px;
  background-color: white;
  
}

.mycard {
  background-image: url('../src/img/jj-ying-WmnsGyaFnCQ-unsplash\ \(1\).jpg');
  color: #2D3A3A;
  font-weight: bolder;
  height: 100vh;
  width: 100vw;
 margin-bottom: 0px;
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
}

.auth-card {
  padding: 10px 10px;
  text-align: center;
  align-items: center;
  max-width: 50vw;
  height: 80vh;
  margin: 10px auto;
  font-family: 'Montserrat', sans-serif;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid darkgrey !important;
  box-shadow: 0 1px 0 0 darkgray !important;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
  margin: 20px 20px;
  padding: 10px 10px;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid darkgray !important;
  box-shadow: 0 1px 0 0 darkgray !important;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 20px;
  margin: 10px 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  color: rgba(43, 41, 41, 0.952)

}

.collection-item {
  width: 100%;
}


#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover {
  cursor: pointer;
}
