@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

a {
  color: black !important;
  font-family: 'Roboto Condensed', sans-serif;
}

nav {
  background-color: white;
  color: red;
}

div {
  background-image: url('../src/img/ralph-kayden-iZEG_9jaB40-unsplash.jpg')
}

.brand-logo,
h2 {
  font-family: 'Montserrat', sans-serif;
}

.mycard {
  background-color: whitesmoke;
  color: red;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  font-family: 'Montserrat', sans-serif;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid darkgrey !important;
  box-shadow: 0 1px 0 0 darkgray !important;
  font-family: 'Montserrat', sans-serif;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid darkgray !important;
  box-shadow: 0 1px 0 0 darkgray !important;
  font-family: 'Montserrat', sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  color: rgba(43, 41, 41, 0.952)

}

.collection-item {
  width: 100%;
}


#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover {
  cursor: pointer;
}